<html>
	<title>Hour of Power | Search for Videos</title>
	<head>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	</head>
	<body>
		<p>Search for YouTube Videos</p>
		<input id="videoSearch">
		<button id="submitQuery">Submit</button>
		<div id="candidates">
			<ul id="thumbnails"></ul>
			<button id="clearResults" style="display:none">Clear Results</button>
		</div>
		<div id="nominated">
			<p id="selectedVideos" style="dislay:none">You have selected the following videos</p>
			<ul id="nominee-thumbnails"></ul>
		</div>
		<button id ="confirm" style="display:none">Confirm Selection</button>
		<script src="/videoSearchScript"></script>
	</body>
</html>