<html>
	<title>Hour of Power | Search for Videos</title>
	<head>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	</head>
	<body>
		<p>Search for YouTube Videos</p>
		<input id="videoSearch">
		<button id="submitQuery">Submit</button>
		<div id="candidates">
			<ul id="thumbnails"></ul>
			<button id="clearResults" style="display:none">Clear Results</button>
		</div>
		<div id="nominated">
			<p id="selectedVideos" style="dislay:none">You have selected the following videos</p>
			<ul id="nominee-thumbnails"></ul>
		</div>
		<div id="post-confirmation" style="margin:auto;width:50%;height:50%">
			<button id ="confirm" style="display:none;color:green;margin:auto;width:50%;text-align:center">Confirm Selection</button>
			<form id="submitVideos" method="post" action="/start">
				<input id="tokenPayload" name="token" value="" style="display:none"/>
				<button id="startChallenge" tpye="submit" style="display:none;color:blue;margin:auto;width:50%;text-align:center" formmethod="post">Start Challenge!</button>
			</form>
		</div>
		<script src="/videoSearchScript"></script>
	</body>
</html>